@{
    ViewData["Title"] = "NoPermission";
}
<h1>No Permission</h1>
<h3>You do not have permissions to view this page.</h3>
<p>
    You can always <a asp-controller="Account" asp-action="Logout">log in as someone else</a>.
</p>